<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authenticating...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:src="@{/js/react.js}"  charset="utf-8"></script>
    <script th:src="@{/js/react-dom.min.js}"  charset="utf-8"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/js/jquery-2.1.4.min.js}"  charset="utf-8"></script>
    <script type="text/javascript" th:src="@{https://socialinviter.com/all.js}" id="apiscript"></script>
    <link th:href="@{https://socialinviter.com/all.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div>
    <div id="content"></div>
    <script th:src="@{/js/components-lib/oauth.js}" type="text/javascript"></script>
</div>
</body>
</html>

