<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Latch</title>
    <script th:src="@{/js/react.min.js}"  charset="utf-8"></script>
    <script th:src="@{/js/react-dom.min.js}"  charset="utf-8"></script>
    <script th:src="@{/js/jquery-2.1.4.min.js}"  charset="utf-8"></script>
    <script th:src="@{/js/bootstrap.min.js}"  charset="utf-8"></script>
    <script th:src="@{/js/pwstrength.js}"  charset="utf-8"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/reset.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/Header.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/Footer.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/Navigation.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/App.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div>
    <div id="content"></div>
    <input type="hidden" th:value="${user?.id}" id="id"/>
    <script th:src="@{/js/components-lib/logo.js}"  type="text/javascript"></script>
    <script th:src="@{/js/components-lib/Navigation/navigation.js}" type="text/javascript"></script>
    <script th:src="@{/js/components-lib/Header/header.js}" type="text/javascript"></script>
    <script th:src="@{/js/components-lib/Footer/footer.js}" type="text/javascript"></script>
    <script th:src="@{/js/components-lib/Reset/reset.js}" type="text/javascript"></script>
</div>
</body>
</html>