<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Latch</title>
    <script th:src="@{/js/react-0.14.2.min.js}"  charset="utf-8"></script>
    <script th:src="@{/js/react-dom-0.14.2.min.js}"  charset="utf-8"></script>
    <script th:src="@{/js/jquery-2.1.4.min.js}"  charset="utf-8"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/Header.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/Footer.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/Navigation.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/success.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div>
    <div id="content"></div>
    <script th:src="@{/js/components-lib/logo.js}"  type="text/javascript"></script>
    <script th:src="@{/js/components-lib/Navigation/navigation.js}" type="text/javascript"></script>
    <script th:src="@{/js/components-lib/Header/header.js}" type="text/javascript"></script>
    <script th:src="@{/js/components-lib/Footer/footer.js}" type="text/javascript"></script>
    <script th:src="@{/js/components-lib/RegisterPage/authenticate.js}" type="text/javascript"></script>
</div>
</body>
</html>